.welcome-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  background-color: #212121; 
  padding: 16px;

  mat-card {
    max-width: 400px;
    width: 100%;
    background: #303030; 
    color: #fff; 
    padding: 1rem;

    mat-card-title {
      font-size: 1.8em;
      text-align: center;
    }

    mat-card-content {
      text-align: center;
      margin-bottom: 16px;
    }

    .action-buttons {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      gap: 8px;
    }
  }
}
